page-profile{
img {
    width: 150px;
}
.portfolio {
    background-color:black;
    color:white;
    padding:20px;
    width: 50%;
    text-align: center;
    align-content: center;

}
h2 { font-size: 20px;
}
h3 {
    font-size: 15px;
    color: firebrick;
    
}
}